@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Fjalla One', sans-serif;
}

i {
    padding: 0 5px;
}
/*hidden checkbox for activating the navbar, working on mobile version*/
header #toggle-menu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: black;
    position: fixed;
    width: 100%;
    opacity: 0.75;
}
/*burger-menu icon for mobile version*/
header #hidden-icon {
    color: white;
    display: none;
}

.logo {
    color: white;
    font-weight: 600;
    font-size: 25px;
    transition: .5s;
}

.logo:hover {
    color: red;
    transform: scale(1.1);
}

nav a {
    color: white;
    padding: 0 20px;
    transition: .5s;
    font-weight: 600;
}

nav a:hover {
    color: red;
}

.home {
    background-image: url("../../assets/images/24256.f446db09.668x375o.a367c450ba18@2x.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.home-content {
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    border-radius: 30px;
    margin: 150px 0;
    display: flex;
        flex-direction: column;
        align-items: center;

}
/*"Apply to a program" button that leads to the sign up section*/
.btn-1 {
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .5s;
    margin-top: 10px;
    padding: 15px;
}

.btn-1:hover {
    transform: scale(1.1);
    background-color: rgb(62, 61, 61);
    text-shadow: 0 0 25px orangered,
        0 0 50px orangered;
}

.about-us {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-image {
    padding: 150px 50px;
}

.about-us-image img {
    width: 500px;
    border-radius: 50%;
}

.about-us-content {
    width: 700px;
    padding: 50px;
}

.services-prices-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*The title of the services&prices section*/ 
#sp-title {
    padding: 50px 0;
    font-size: 40px;
}

.services-prices {
    display: flex;
    justify-content: space-between;

}

.services-prices img {
    height: 100px;
    border-radius: 40px;
    width: 100%;
}
.services-prices .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px; 
    border: 1px solid black;
    border-radius: 40px;
    margin: 0 10px;
    box-shadow: 2px 2px 2px gray
}

.service-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
}
.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts-contact {
    padding: 130px 0;
}

.contacts-contact h1,
li {
    padding: 20px 0;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    padding: 150px;
    font-weight: 600;
    font-size: 25px;
    background-image: url('../../assets/images/1410819.78064b77.5000x5000o.d900f3f1ba32.jpg');
    background-size: cover;
}

.sign-up h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.sign-up-form {
    background: rgba(181, 178, 178, 0.9); 
    border-radius: 40px;
    padding: 50px;
    color: rgb(70, 69, 69);
    transition: .5s;
}

.sign-up-form:hover {

    color: rgb(255, 254, 254);
    text-shadow: 0 0 25px rgb(128, 128, 128),
        0 0 50px rgb(198, 197, 196);
}

.sign-up-button {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: gray;
}

.icons i {
    padding: 0 20px;
    color: white;
    transition: .5s;
}

.icons #youtube:hover {
    color: red;
}

.icons #twitter:hover {
    color: rgb(102, 184, 202);
}

.icons #facebook:hover {
    color: rgb(98, 148, 255);
}

.icons #instagram:hover {
    color: rgb(181, 72, 163);
}

@media screen and (max-width: 767px) {
    header {
        display: flex;
        justify-content: flex-start;
        background: white;
        position: relative;
    }

    header .logo {
        display: none;
    }
    /*burger menu*/
    header #hidden-icon {
        color: rgb(0, 0, 0);
        display: block;
        font-weight: 600;
        font-size: 25px;
    }

    nav {
        position: absolute;
        background-color: white;
        top: 85px;
        display: none;
        left: -10px;
        z-index: 99;
        opacity: 1;
    }
    /*once checkbox is clicked, the dropdown menu appears*/
   
    header #toggle-menu {
        display: none;
    }
    header #toggle-menu:checked~nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        color: black;
    }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-content {
        background-color: transparent;
        padding: 50px 50px;
        border-radius: 30px;
        margin: 100px 0;
        color: white;
        opacity: 1;
    }

    .btn-1 {
        background: linear-gradient(#bebebe, #515151);
        color: rgb(252, 249, 249);
        border-radius: 10px;
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 10px;
        opacity: 1;
    }

    .about-us {
        background-image: url('../../assets/images/phpbgZJn0.jpg');
        justify-content: center;
    }

    .about-us-content {
        margin: 10px;
        padding: 20px 5px;
        background-color: rgba(181, 178, 178, 0.7);
        border-radius: 40px;
        color: rgb(61, 61, 61);
    }

    .about-us-image {
        display: none;
    }

    .services-prices {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .services-prices .service {
        margin-bottom: 20px;
    }

    .contacts {
        display: flex;
        justify-content: flex-start;
        padding: 0, 5px;
        margin: 0, 5px;
    }
    /*padding between the lines of the contact info*/
    .contacts-contact h1,
    li {
        padding: 0px 20px;
    }

    #details {
        display: none;
    }

    .sign-up-section {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-weight: 600;
        font-size: 25px;
        background-image: none !important; 
        background: black;
        
    }
    
    .sign-up h1 {
        color: white;
        display: flex;
        justify-content: center;

    }
    
    .sign-up-form {
        
        background: transparent;
        border-radius: 40px;
        opacity: 1;
        color: rgb(70, 69, 69);
        padding: 0;

    }

    .username #username {

        display: none;
    }

    .sign-up-form #sign-up-icon{

        display: none;
    }

    .sign-up-form p {

        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about-us-image {
        display: none;

    }
    .about-us-content {
        margin: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 50px;
    }
    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }
    
}