@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Fjalla One', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: black;
}
.logo {
    color: white;
    font-weight: 600;
    font-size:25px;
    transition: .5s;
}
.logo:hover {
    color: red;
    transform: scale(1.1);
}
nav a {
    color: white;
    padding: 0 20px;
    transition: .5s;
    font-weight: 600;
}
nav a:hover {
    color: red;
}
.home {
    background-image: url("/assets/images/24256.f446db09.668x375o.a367c450ba18@2x.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content {
    padding: 50px 50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.45;
    border-radius: 30px;
    margin: 100px 0;
}
.btn-1 {
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .5s;
    margin-top:10px;
}
.btn-1:hover {
    transform: scale(1.1);
    background-color: rgb(62, 61, 61);
    text-shadow: 0 0 25px orangered,
                0 0 50px orangered;       
}
.about-us {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-image {
    padding: 150px 50px;
}
.about-us-image img {
    width: 500px;
    border-radius: 50%; 
}
.about-us-content {
    width: 700px;
    padding: 50px;
}
.contacts {
    display: flex;
    justify-content: center;

}
.contacts-contact {
    padding: 300px 0;
}
.contacts-contact h1, li  {
    padding: 20px 0;
}
.sign-up-section {
    display: flex;
    justify-content: center;
    padding: 400px;
    font-weight: 600;
    font-size:25px;
    background: black;

}
.sign-up h1 {
    color: white;
    display: flex;
    justify-content: center;
}
.sign-up-form {
    background: rgb(181, 178, 178);
    border-radius: 40px;
    padding: 50px;
    opacity: 0.75;
    color: rgb(70, 69, 69);
    transition: .5s;
}
.sign-up-form:hover {

    color: rgb(255, 254, 254);
    text-shadow: 0 0 25px rgb(128, 128, 128),
                0 0 50px rgb(198, 197, 196);
}
footer {
    display: flex;
    justify-content: center;
    background-color: gray;
}
.icons i {
    padding: 0 20px;
    color: white;
    transition: .5s;
}

.icons #youtube:hover{
    color: red;
}

.icons #twitter:hover{
    color: rgb(102, 184, 202);
}
.icons #facebook:hover{
    color: rgb(98, 148, 255);
}

.icons #instagram:hover{
    color: rgb(181, 72, 163);
}